@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<section name="css">
    <link href="~/css/clean-blog-overrides.css" rel="stylesheet" />
</section>
<!-- Page Header -->
<header class="masthead2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Email Sent!</h1>
                    <span class="subheading"> Please check your email to reset your password.</span>
                </div>
            </div>
        </div>
    </div>
</header>



