@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
<section name="css">
    <link href="~/css/clean-blog-overrides.css" rel="stylesheet" />
</section>
<!-- Page Header -->
<header class="masthead2">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Reset password confirmation</h1>
                    <span class="subheading">Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.</span>
                </div>
            </div>
        </div>
    </div>
</header>
