@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<section name="head">
</section>

<section name="body">
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading">This is what I do.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>I was born and still reside in Louisville KY. I am currently a Senior Software Engineer at Waystar(Formally Zirmed) Inc.</p>
                <p>I am an Alumni of the University of Louisville’s College of Business (CIS).</p>
                <p>I enjoy building things both digital and physical.  I spend my spare time remodeling and repairing homes. I love to learn new things and constantly strive to add new technologies to my digital toolbox and new additions to my home.</p>
            </div>
        </div>
    </div>

    <hr>

</section>
