@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
   
*@
@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}



<section name="head">

</section>
    

<section name="body">

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('/imgold/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h2>derricklogsdon.com</h2>
                        <span class="subheading">.Net Development</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    @*<hr>*@

</section>
